@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  background: #f4f4f4;
}
.container {
  max-width: 850px;
  margin: 15px auto;
}
.modal {
  width: 100%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
}

.connect {
  font-size: 12px;
  margin: 15px 5px;
  width: 100%;
  text-align: center;
}
.connect h2 {
  font-size: 14px;
  margin-top: 1rem;
}
.icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 1.5rem;
}

.ying {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: green;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.ex {
  font-size: 20px;
  color: grey;
  padding-top: 10px;
}
.park {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background: green;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.text {
  max-width: 350px;
  width: 100%;

  border-radius: 8px;
  padding: 6px;
}
.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 2rem;
}
.copy {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 120px;
  width: 100%;
  color: #333;
  font-size: 12px;
  padding: 6px;
  border-radius: 8px;
}
.untitled {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  margin: 2rem 0;
}
.untitled h2 {
  font-size: 15px;
}
.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  font-size: 12px;
}
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  border-radius: 50%;
  color: green;
  padding: 3px;
}
.privacy {
  font-size: 14px;
}
span {
  text-decoration: underline;
}

.play {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  width: 120px;
  padding: 10px;
  border-radius: 10px;
}
.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
}
.btn {
  background: #fff;
  color: #333;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.show {
  margin: 50px;
}
.allow {
  display: inline-block;
  padding: 10px;
  background: #000;
  color: #fff;
  width: 100px;
  font-size: 12px;
  border-radius: 10px;
}

@media (min-width: 550px) {
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal {
    max-width: 480px;
    width: 100%;
    padding: 10px 20px;
    margin: 50px auto;
  }
  .show {
    margin: 200px;
  }
}
